h1 {
    color: darkgreen;
    text-shadow: 0.5px 0.5px 3px lightslategray;
}

header {
    text-align: center;
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bolder;
    padding: 24px 0px;
}
