{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<header>
</header>

<main>
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ signform.as_p }}
            <button>Signup</button>
        </form>
    </div>
</main>
{% endblock content %}

</html>
