{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<!doctype html>
<html>

<Head>
    <title>Show All Receipts</title>
</Head>

<body>
    <Main>
        <h1>
            Receipts - Listview_categories
        </h1>

        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in expense_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all}}</td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </Main>
</body>
{% endblock content %}

</html>
